@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500&display=swap');

.container {
  background-color: #5b5b5b;
  opacity: 0.9;
  padding:15px;
  color:white;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left:15px;
  border-radius: 15px;
  width: 250px;
}

.title{
  font-size:29px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 28px;
  letter-spacing: -1px;
}


.subtitle{
  font-size:18px;
  line-height: 18px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}
